pymongo~=3.11.4
uvicorn~=0.15.0
Pillow~=9.4.0
qrcode~=7.3.1
pyc
moviepy~=1.0.3
pytz~=2022.1
Flask~=2.0.3
Jinja2~=3.1.2
dnspython
opencv-python~=4.7.0.68
yolov5
git+https://github.com/minientreprise-scv/Image-Validation
Markdown~=3.3.6
configparser~=5.3.0
