:root {
    --white: #e0e0e0;
    --black: #252525;
    --grey: #808080;
    --transparent-grey: rgba(128, 128, 128, 0.22);
    --brown: #583f01;
    --light-brown: #705001;
    --green: #158e4d;
    --light-green: #1ab260;
}

@font-face {
    font-face-name: "Liivic-Website";
    src: url('/static/assets/charte/police/Livvic-SemiBold.ttf');
    font-weight: bold;
}

@font-face {
    font-face-name: "Liivic-Website";
    src: url('/static/assets/charte/police/Livvic-Medium.ttf');
    font-weight: normal;
}
html {
    background-color: var(--white);
}

body {
    font-family: "Liivic-Website", sans-serif;
    background-color: var(--white);
    color: var(--black);
    scroll-behavior: smooth !important;
}

.title {
    font-weight: normal;
    color: var(--black);
}

.subtitle {
    color: var(--grey);
}

.navbar {
    padding: .5em 5em .5em .5em;
}

.navbar.has-border-bottom {
    border-bottom: 2px solid var(--transparent-grey);
    margin-bottom: 1em;
}

.navbar-brand img {
    content: url("/static/assets/charte/logo_large.png");
}

.navbar-end .navbar-item {
    padding: .8em;
    border-radius: 10px;
}

.navbar-end .navbar-item.qr, .button.is-green {
    padding: .8em;
    background-color: var(--green);
    color: var(--white);
    border-radius: 10px;
}

.navbar-end .navbar-item.qr:hover, .button.is-green:hover {
    background-color: var(--light-green) !important;
}


.navbar-end .navbar-item.dashboard, .navbar-end .navbar-item.qr {
    margin-left: 2em;

}

.navbar-end .navbar-item.dashboard, .button.is-brown {
    padding: .8em;
    background-color: var(--brown);
    color: var(--white);
    border-radius: 10px;
}

.navbar-end .navbar-item.dashboard:hover, .button.is-brown:hover {
    background-color: var(--light-brown) !important;
}

.navbar-end .navbar-item:hover {
    background-color: var(--transparent-grey) !important;
}

strong, b {
    font-weight: bold;
}

.has-no-overflow {
    max-width: 90vw;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    text-align: inherit;
    white-space: nowrap;
}

.is-disabled {
    opacity: 0.6;
}

.section.is-divided {
    display: flex;
}

.section.landing {
    background-color: var(--transparent-grey);
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0 94%);
}

.section.features {
    background-color: var(--white);
}

.section.us {
    display: flex;
    padding-top: 15em;
    padding-bottom: 12em;
    clip-path: polygon(0 12%, 100% 1%, 100% 100%, 0% 100%);
    background-color: #fff;
}

.section.is-divided .left, .section.is-divided .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.containers {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(32em, 1fr));
    width: 99%;
}

.container {
    transition: .5s ease-in-out;
    margin: 2em;
    padding: 1.5em;
    height: 40vh;
    width: 30em !important;
    max-width: 30em !important;
    background-color: var(--white);
    border: 3px solid var(--transparent-grey);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.container:hover {
    box-shadow: 5px 5px 2px var(--transparent-grey);
}

.container .content {
    height: 50%;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.container .content .title {
    text-align: center;
}

.container .content .subtitle {
    text-align: justify;
}

.container .image {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .image img {
    max-height: 100%;
    width: auto;
}


.team {
    width: 50%;
}

.poles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21em, 1fr));
}

.poles .pole {
    margin: 1em;
    padding: .5em;
    height: max-content;
    width: 20em;
    border: 2px solid var(--grey);
    border-radius: 20px;
}

.poles .pole p {
    padding-left: 1em;
    width: 100%;
    text-align: left;
}

.sponsors {
    width: 50%;
}

.sponsors-list {
    display: flex;
    flex-direction: column;
}

.sponsor {
    transition: .5s ease-in-out;
    opacity: 0.5;
    filter: grayscale(1) blur(1px);
}
.sponsor:hover {
    opacity: 1;
    filter: grayscale(0) blur(0);
}

.footer {
    padding-top: 5em;
    padding-bottom: 2em;
    display: flex;
    background-color: var(--white);
}


.footer .left .is-small {
    color: var(--grey);
}

.footer .right .subtitle {
    color: var(--black);
}

.footer .list {
    margin: 1em;
}

.footer .right {
    width: 70%;
    display: flex;
}

.footer .left {
    width: 20%;
    margin-right: 10%;
}

.footer:before {
    content: "";
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0), var(--white) 50%);
    width: 100vw;
    height: 10%;
    left: 0;
    transform: translateY(-150%);
    z-index: 10000;
}

.modal-content {
    border-radius: 10px;
    padding: 2em 2em;
    background-color: var(--white);
}

.input {
    background-color: var(--white);
}

.icon {
    color: var(--grey) !important;
}

.square {
    padding: 2em;
    width: 100%;
    height: calc(100%);
    border-radius: 15px;
    transition: .2s ease-in-out;
}

.square:hover {
    transform: scale(1.02);
    border-radius: 20px;
}

.level .title {
    font-weight: bold;
}

.file.is-boxed .file-cta {
    border-radius: 8px;
    background-color: var(--transparent-grey);
}

.file.is-boxed .file-cta:hover {
    background-color: var(--grey);
    color: var(--white);
}

.tag {
    margin: .5em;
}

.tag.is-square {
    width: 2em ;
}

.select select {
    background-color: var(--white);
    border-radius: 10px;
}

.dropdown, .dropdown-trigger, .dropdown-menu {
    width: 100%;
    background-color: var(--white);
}

.dropdown-content {
    width: 90%;
    border: 1px solid var(--light-green);
    margin: auto;
}

.tabs li.is-active i {
     color: var(--light-green);
}

.tabs li.is-active span {
    color: var(--green);
}

.controls {
    display: flex;
    justify-content: space-between;
}

.tag.is-brown.is-light {
    background-color: rgba(112, 80, 1, 0.56);
    color: var(--brown);
}

hr {
    background-color: var(--transparent-grey) !important;
}

.image.is-qr {
    margin: auto;
    width: max-content;
}

.image.is-qr img {
    border-radius: 10px;
    border: 2px solid var(--grey);
    width: 500px;
    height: 500px;
}

.column.has-multiples-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column.has-multiples-boxes:first-child {
    height: auto;
}

img.is-cover {
    object-fit: cover;
}

table tbody th {
    font-weight: normal;
}

table tbody th .tag {
    font-weight: bold;
    margin: 0;
}

#financesGraph {
    border: 2px solid var(--transparent-grey);
    border-radius: 15px;
    height: 100%;
}

.image.is-qr-scanner {
    padding-top: 0;
}

.image.is-qr-scanner video {
    border-radius: 15px;
    width: 75vw;
    height: 75vw;
    object-fit: cover;
}

.scan-region-highlight svg, .scan-region-highlight svg path {
    stroke: var(--light-green) !important;
    color: var(--light-green) !important;
}

@media (min-width: 2000px) {
    .image.is-qr-scanner video {
        border-radius: 15px;
        width: 75vw;
        height: 75vw;
        object-fit: cover;
    }
}

@media (max-width: 1024px) {

    .navbar, .navbar-menu {
        background-color: var(--white);
        box-shadow: unset;
    }

    .navbar-brand {
        align-items: center;
    }

    .navbar-brand img {
        content: url("/static/assets/charte/icon-square.png");
        height: 3em;
        max-height: 3em;
    }

    .navbar-brand .navbar-item:not(.button) {
        padding: 0;
        margin-right: .5em;
    }

    .navbar-brand .navbar-item.button {
        right: 4em;
        position: absolute;
    }

    .navbar-brand .navbar-item.button:hover {
        background-color: var(--light-green);
    }

    .navbar-end .navbar-item {
        width: max-content;
        margin: .5em .5em .5em 0 !important;
    }

    .team, .sponsors {
        width: 100%;
    }

    .poles {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section.landing {
        clip-path: polygon(0 0, 100% 0, 100% 91%, 0 94%);
    }

    .section.us {
        clip-path: polygon(0 3%, 100% 1%, 100% 100%, 0% 100%);
        padding-top: 5em;
        flex-direction: column;
    }

    .section.is-divided {
        flex-direction: column;
    }

    .section.is-divided .right, .section.is-divided .left {
        width: 100%;
    }

    .navbar {
        padding: .5em;
    }

    .containers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .container {
        height: max-content;
        transform: scale(0.8);
        max-width: 27em !important;
        margin: 0;
    }

    .container .image img {
        max-height: 13em;
    }

    .footer {
        flex-direction: column;
        padding-top: 1em;
    }

    .footer .left, .footer.right {
        width: 100%;
    }

    .footer .right {
        flex-direction: column;
    }

    .footer:before {
        transform: translateY(-150%);
    }
}