<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/bulma.min.css">
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="icon" href="/static/assets/charte/icon.png">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="manifest" href="/static/js/manifest.json">
  {% block imports %}
  {% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
{% block body %}

{% endblock %}
</body>
</html>