<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/bulma.min.css">
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="icon" href="/static/assets/charte/icon.png">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="manifest" href="/static/js/manifest.json">

  <meta property="og:title" content="Une e-plante" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://minientreprise.sacrecoeurvercel.com" />
  <meta property="og:image" content="https://planteqr.camarm.fr/static/assets/banniere.png" />
  <meta property="og:image:alt" content="Bennière une e-plante" />
  <meta property="og:description"
        content="Une e-plante: quand l'informatique vous apprend à jardiner." />
  <meta property="og:determiner" content="la" />
  <meta property="og:locale" content="fr_FR" />
  <meta property="og:locale:alternate" content="en_US" />
  <meta property="og:site_name" content="Une e-plante" />
  {% block imports %}
  {% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
{% block body %}

{% endblock %}
</body>
</html>