{% extends "navbar.html" %}

{% block title %}Une e-plante, Erreur{% endblock %}

{% block content %}

<header class="section landing is-medium is-divided" style="clip-path: none; height: 100vh">
  <div class="left">
    <div class="section-infos" style="padding-bottom: 5em;">
      <h1 class="title is-1">Oups</h1>
      <p class="subtitle is-5">{{message|safe}}</p>
    </div>
  </div>
  <div class="right">
    <figure class="image">
      <img src="/static/assets/error.png" alt="Image d'erreur">
    </figure>
  </div>
</header>

{% endblock %}
