<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Une e-plante, La plante qui vous apprend à jardiner</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="icon" href="/static/assets/charte/icon.png">
  <script src="https://kit.fontawesome.com/628c8d2499.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://minientreprise.sacrecoeurvercel.com">
        <img src="/static/assets/charte/logo_large.png" height="150">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="mainNavMenu">
      <div class="navbar-end has-text-info">
        <a href="/" class="navbar-item">Accueil</a>
        <a href="#features" class="navbar-item">Fonctionnalités</a>
        <a href="#contact" class="navbar-item">Contact</a>
        <a href="/scan" class="navbar-item qr">Scanner mon QR&nbsp;<i class="fas fa-qrcode"></i></a>
      </div>
    </div>
  </nav>
  <header class="section landing is-medium is-divided">
    <div class="left">
      <div class="section-infos" style="padding-bottom: 5em;">
        <h1 class="title is-1">Une e-plante</h1>
        <p class="subtitle is-5">La plante qui vous apprend à jardiner !</p>
        <p class="subtitle is-5">
          <b>Une e-plante</b> est une <a href="https://www.entreprendre-pour-apprendre.fr" target="_blank">Minientreprise&reg;</a> créée par le collège du <a href="https://sacrecoeurvercel.com" target="_blank">Sacré Cœur Vercel</a>.
          <br>
          Nous <b>recyclons</b> des bouteilles en verre, et nous vous apprenons à jardiner !
        </p>
      </div>
      <div></div>
    </div>
    <div class="right">
      <img src="../static/assets/landing.png" height="638" width="589"/>
    </div>
  </header>
  <section class="section features" id="features">
    <h1 class="title is-2">Nos valeurs / avantages</h1>
    <div class="containers">
      <div class="container">
        <div class="image">
          <img src="/static/assets/open-source.png" alt="Open Source" />
        </div>
        <div class="content">
          <p class="title">Open source</p>
          <p class="subtitle">Une e-plante est libre et open-source (<a href="https://github.com/minientreprise-scv">voir le code</a>), sous la license <a href="https://github.com/minientreprise-scv/app/blob/main/LICENSE" target="_blank">Cecill V2.1</a> Les images de "Une e-plante" sont utilisables sous les conditions <a href="https://creativecommons.org/licenses/by-nc-nd/3.0/fr/" target="_blank">CC BY-NC-ND 3.0 FR</a>.</p>
        </div>
      </div>
      <div class="container">
        <div class="image">
          <img src="/static/assets/local.png" alt="Local" />
        </div>
        <div class="content">
          <p class="title">Local</p>
          <p class="subtitle">Nous achetons tous nos équipements, terreaux et graines chez nos commerçants locaux (<a href="#contact">voir nos partenaires</a>).</p>
        </div>
      </div>
      <div class="container">
        <div class="image">
          <img src="/static/assets/recyclage.png" alt="Recyclage" />
        </div>
        <div class="content">
          <p class="title">Respectueux de l'environnement</p>
          <p class="subtitle">Nos pot sont fait de bouteilles en verre recyclées, les sachets et cartons qui vous sont envoyés sont 100% réutilisés.</p>
        </div>
      </div>
      <div class="container">
        <div class="image">
          <img src="/static/assets/unis.png" alt="Unis" />
        </div>
        <div class="content">
          <p class="title">Unis</p>
          <p class="subtitle">Notre minientreprise est composée d'élèves soudés, allant de la 6<sup>ème</sup> à la 3<sup>ème</sup>, ayant tous des tâches pertinentes à accomplir et qu'ils choisissent.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section us" id="contact"></section>
  <footer></footer>
</body>
</html>