<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Une e-plante, La plante qui vous apprend à jardiner</title>
  <link rel="stylesheet" href="/static/css/bulma.min.css">
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="icon" href="/static/assets/charte/icon.png">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://minientreprise.sacrecoeurvercel.com">
        <img src="/static/assets/charte/logo_large.png" height="150">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="mainNavMenu">
      <div class="navbar-end has-text-info">
        <a href="/" class="navbar-item">Accueil</a>
        <a href="#features" class="navbar-item">Fonctionnalités</a>
        <a href="#contact" class="navbar-item">Contact</a>
        <a href="/scan" class="navbar-item qr">Scanner mon QR&nbsp;<i class="fas fa-qrcode"></i></a>
        <a href="/dashboard" class="navbar-item dashboard">Mes plantes&nbsp;<i class="fas fa-hand-holding-seedling"></i></a>
      </div>
    </div>
  </nav>
  <header class="section landing is-medium is-divided">
    <div class="left">
      <div class="section-infos" style="padding-bottom: 5em;">
        <h1 class="title is-1">Une e-plante</h1>
        <p class="subtitle is-5">La plante qui vous apprend à jardiner !</p>
        <p class="subtitle is-5">
          <b>Une e-plante</b> est une <a href="https://www.entreprendre-pour-apprendre.fr" target="_blank">Mini-entreprise&reg;</a> créée par le collège du <a href="https://sacrecoeurvercel.com" target="_blank">Sacré Cœur Vercel</a>.
          <br>
          Nous <b>recyclons</b> des bouteilles en verre, et nous vous apprenons à jardiner !
        </p>
      </div>
      <div></div>
    </div>
    <div class="right">
      <img src="../static/assets/landing.png" height="638" width="589"/>
    </div>
  </header>
  <section class="section features has-text-centered" id="features">
    <h1 class="title is-2">Nos valeurs / avantages</h1>
    <div class="containers">
      <div class="container">
        <div class="image">
          <img src="/static/assets/open-source.png" alt="Open Source" />
        </div>
        <div class="content">
          <p class="title">Open source</p>
          <p class="subtitle">Une e-plante est libre et open-source (<a href="https://github.com/minientreprise-scv">voir le code</a>), sous la licence <a href="https://github.com/minientreprise-scv/app/blob/main/LICENSE" target="_blank">Cecill V2.1</a> Les images de "Une e-plante" sont utilisables sous les conditions <a href="https://creativecommons.org/licenses/by-nc-nd/3.0/fr/" target="_blank">CC BY-NC-ND 3.0 FR</a>.</p>
        </div>
      </div>
      <div class="container">
        <div class="image">
          <img src="/static/assets/local.png" alt="Local" />
        </div>
        <div class="content">
          <p class="title">Local</p>
          <p class="subtitle">Nous achetons tous nos équipements, terreaux et graines chez nos commerçants locaux (<a href="#contact">voir nos partenaires</a>).</p>
        </div>
      </div>
      <div class="container">
        <div class="image">
          <img src="/static/assets/recyclage.png" alt="Recyclage" />
        </div>
        <div class="content">
          <p class="title">Respectueux de l'environnement</p>
          <p class="subtitle">Nos pots sont faits de bouteilles en verre recyclées, les sachets et cartons qui vous sont envoyés sont 100% réutilisés.</p>
        </div>
      </div>
      <div class="container">
        <div class="image">
          <img src="/static/assets/unis.png" alt="Unis" />
        </div>
        <div class="content">
          <p class="title">Unis</p>
          <p class="subtitle">Notre mini-entreprise est composée d'élèves soudés, allant de la 6<sup>ème</sup> à la 3<sup>ème</sup>, ayant tous des tâches pertinentes à accomplir et qu'ils choisissent.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section us has-text-centered" id="contact">
    <div class="team">
      <h1 class="title is-2 pb-6">Notre équipe</h1>
      <h3 class="subtitle"><b>Paul Bassignot</b><sup>Chef d'entreprise</sup></h3>
      <div class="poles">
        <div class="pole">
          <h3 class="subtitle">Pôle production</h3>
          <p><b>Armand Camponovo</b><sup>Chef du pôle</sup></p>
          <p><b>Eloïse Pierron</b><sup>Cheffe suppléante</sup></p>
          <p>Brice Jeannerot</p>
          <p>Julia Roch</p>
          <p>Lylian Cleon</p>
          <p>Lucas Jacquelain</p>
        </div>
        <div class="pole">
          <h3 class="subtitle">Pole ventes</h3>
          <p><b>David Mourot</b><sup>Chef du pôle</sup></p>
          <p>Axel Mouget</p>
          <p>Charlie Bodin</p>
          <p>Arthur GOY</p>
        </div>
        <div class="pole">
          <h3 class="subtitle">Pole coordination</h3>
          <p><b>Daniel Ndick Delavelle</b><sup>Chef du pôle</sup></p>
        </div>
        <div class="pole">
          <h3 class="subtitle">Pôle de communication</h3>
          <p><b>Nayla Tafjouti</b><sup>Cheffe du pôle</sup></p>
          <p><b>Eva Mouret</b><sup>Cheffe du pôle</sup></p>
        </div>
      </div>
    </div>
    <div class="sponsors">
      <h1 class="title is-2 pb-6">Nos partenaires</h1>
      <div class="sponsors-list">
        <div class="sponsor">
          <a href="https://sacrecoeurvercel.com">
            <img src="/static/assets/sacrecoeur.jpg" alt="Sacré Coeur Vercel">
          </a>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="left">
      <div class="image">
        <img src="/static/assets/charte/logo_large.png" >
      </div>
      <p class="is-small">
        Une e-plante avec <i class="fas fa-heart has-text-red"></i> pour "Une e-plante" © 2023
      </p>
    </div>
    <div class="right">
      <div class="list">
        <ul>
          <li class="subtitle">Contact</li>
          <li><a href="mailto:armand@camponovo.xyz">Développeur (Email)</a></li>
          <li><a href="mailto:sacre-coeur@wanadoo.fr">Collège (Email)</a></li>
          <li><a href="https://sacrecoeurvercel.com" target="_blank">Collège (Site)</a></li>
        </ul>
      </div>
      <div class="list">
        <ul>
          <li class="subtitle">Services</li>
          <li><a href="mailto:armand@camponovo.xyz">Support</a></li>
          <li><a href="/buy">Acheter</a></li>
        </ul>
      </div>
      <div class="list">
        <ul>
          <li class="subtitle">Documents Légaux</li>
          <li><a href="/mentions">Mentions légales</a></li>
          <li><a href="/cgv">Conditions générales de vente</a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>