{% extends "navbar.html" %}

{% block title %}Une e-plante, La plante qui vous apprend à jardiner{% endblock %}

{% block imports %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
{% endblock %}

{% block content %}

<header class="section landing is-medium is-divided">
  <div class="left">
    <div class="section-infos" style="padding-bottom: 5em;">
      <h1 class="title is-1">Une e-plante</h1>
      <p class="subtitle is-5">La plante qui vous apprend à jardiner !</p>
      <p class="subtitle is-5">
        <b>Une e-plante</b> est une <a href="https://www.entreprendre-pour-apprendre.fr" target="_blank" title="Entreprendre pour apprendre Minientreprise">Mini-entreprise&reg;</a>
        créée par le collège du <a href="https://sacrecoeurvercel.com" target="_blank" title="Groupe Scolaire Sacré Coeur Vercel">Sacré Cœur Vercel</a>.
        <br>
        Nous <b>recyclons</b> des bouteilles en verre, et nous vous apprenons à jardiner !
      </p>
    </div>
    <div></div>
  </div>
  <div class="right">
    <img src="../static/assets/landing.png" height="638" width="589" alt="Présentation une e-plante"/>
  </div>
</header>
<section class="section features has-text-centered" id="features">
  <h1 class="title is-2">Comment ça marche ?</h1>
  <section class="section">
    <div class="container is-carousel-ancestor">
      <div id="carousel-images" class="carousel">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9 is-covered">
              <img src="/static/assets/mockup_paquet.jpg" alt="Paquet">
            </figure>
          </div>
          <div class="card-content">
            <div class="title is-4">
              1 - Achetez votre kit
            </div>
            <div class="subtitle">
              Achetez votre kit dans un magasin référencé ou sur notre site internet en ligne et recevez-le.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9 is-covered">
              <img src="/static/assets/mockup_scan.jpg" class="is-mockup-scan" alt="Scanner mon Qr code">
            </figure>
          </div>
          <div class="card-content">
            <div class="title is-4">
              2 - Scanner votre QR code
            </div>
            <div class="subtitle">
              Une fois votre kit reçu, déballez le et scannez le qr code présent à l'intérieur (depuis votre appareil
              photo ou sur <a href="/scan" target="_blank" title="Scanner mon Qr code">notre page dédiée</a>).
              Vous serez redirigés vers votre tableau de bord.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9 is-covered">
              <img src="/static/assets/mockup_apprendre.jpg" alt="Apprendre grace à l'application">
            </figure>
          </div>
          <div class="card-content">
            <div class="title is-4">
              3 - Apprenez
            </div>
            <div class="subtitle">
              Désormais sur votre tableau de bord, vous avez accès à toutes les documentations relatives à votre plante.
              Si vous possédez plusieurs plantes, vous pourrez choisir laquelle afficher sur votre tableau de bord.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9 is-covered">
              <img src="/static/assets/mockup_photos.jpg" alt="Diaporama & Photos">
            </figure>
          </div>
          <div class="card-content">
            <div class="title is-4">
              4 - Regardez votre plante grandir
            </div>
            <div class="subtitle">
              Maintenant que vous savez vous occuper de votre plante et qu'elle pousse à merveille, revenez
              régulièrement pour la prendre en photo et ainsi la revoir grandir en téléchargeant le diaporama !
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <br>
  <h1 class="title is-2">Nos valeurs / avantages</h1>
  <div class="containers">
    <div class="container">
      <div class="image">
        <img src="/static/assets/open-source.png" alt="Open Source"/>
      </div>
      <div class="content">
        <p class="title">Open source</p>
        <p class="subtitle">Une e-plante est libre et open-source (<a href="https://github.com/minientreprise-scv" title="Notre Github">voir
          le code</a>), sous la licence <a href="https://github.com/minientreprise-scv/app/blob/main/LICENSE"
                                           target="_blank" title="Licence Cecill V2.1 sur notre Github">Cecill V2.1</a> Les images de "Une e-plante" sont utilisables
          sous les conditions <a href="https://creativecommons.org/licenses/by-nc-nd/3.0/fr/" target="_blank" title="La licence CC
            BY-NC-ND 3.0 FR sur Creative Commons">CC
            BY-NC-ND 3.0 FR</a>.</p>
      </div>
    </div>
    <div class="container">
      <div class="image">
        <img src="/static/assets/local.png" alt="Local"/>
      </div>
      <div class="content">
        <p class="title">Local</p>
        <p class="subtitle">Nous achetons tous nos équipements, terreaux et graines chez nos commerçants locaux (<a
            href="#contact" title="Voir nos partenaires">voir nos partenaires</a>).</p>
      </div>
    </div>
    <div class="container">
      <div class="image">
        <img src="/static/assets/recyclage.png" alt="Recyclage"/>
      </div>
      <div class="content">
        <p class="title">Respectueux de l'environnement</p>
        <p class="subtitle">Nos pots sont faits de bouteilles en verre recyclées, les sachets et cartons qui vous sont
          envoyés sont 100% réutilisés.</p>
      </div>
    </div>
    <div class="container">
      <div class="image">
        <img src="/static/assets/unis.png" alt="Unis"/>
      </div>
      <div class="content">
        <p class="title">Unis</p>
        <p class="subtitle">Notre mini-entreprise est composée d'élèves soudés, allant de la 6<sup>ème</sup> à la 3<sup>ème</sup>,
          ayant tous des tâches pertinentes à accomplir et qu'ils choisissent.</p>
      </div>
    </div>
  </div>
</section>
<section class="section us has-text-centered" id="contact">
  <div class="team">
    <h1 class="title is-2 pb-6">Notre équipe</h1>
    <h3 class="subtitle"><b>Paul Bassignot</b><sup>Chef d'entreprise</sup></h3>
    <div class="poles">
      <div class="pole">
        <h3 class="subtitle">Pôle production</h3>
        <p><b>Armand Camponovo</b><sup>Chef du pôle</sup></p>
        <p><b>Eloïse Pierron</b><sup>Cheffe suppléante</sup></p>
        <p>Brice Jeannerot</p>
        <p>Julia Roch</p>
        <p>Lylian Cleon</p>
        <p>Lucas Jacquelain</p>
      </div>
      <div class="pole">
        <h3 class="subtitle">Pole ventes</h3>
        <p><b>David Mourot</b><sup>Chef du pôle</sup></p>
        <p>Axel Mouget</p>
        <p>Charlie Bodin</p>
        <p>Arthur GOY</p>
      </div>
      <div class="pole">
        <h3 class="subtitle">Pole coordination</h3>
        <p><b>Daniel Ndick Delavelle</b><sup>Chef du pôle</sup></p>
      </div>
      <div class="pole">
        <h3 class="subtitle">Pôle de communication</h3>
        <p><b>Nayla Tafjouti</b><sup>Cheffe du pôle</sup></p>
        <p><b>Eva Mouret</b><sup>Cheffe du pôle</sup></p>
      </div>
    </div>
  </div>
  <div class="sponsors">
    <h1 class="title is-2 pb-6">Nos partenaires</h1>
    <div class="sponsors-list">
      <div class="sponsor">
        <a href="https://sacrecoeurvercel.com" target="_blank" title="Groupe Scolaire du Sacré Coeur Vercel">
          <img src="/static/assets/sacrecoeur.jpg" alt="Sacré Coeur Vercel">
        </a>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="left">
    <div class="image">
      <img src="/static/assets/charte/logo_large.png" alt="Logo">
    </div>
    <p class="is-small">
      Une e-plante avec <i class="fas fa-heart has-text-red has-text-danger"></i> par les élèves du Sacré Cœur pour "Une
      e-plante" © 2023
    </p>
  </div>
  <div class="right">
    <div class="list">
      <ul>
        <li class="subtitle">Contact</li>
        <li><a href="mailto:armand@camponovo.xyz" title="Email du développeur">Développeur (Email)</a></li>
        <li><a href="mailto:sacre-coeur@wanadoo.fr" title="Email du collège">Collège (Email)</a></li>
        <li><a href="https://sacrecoeurvercel.com" target="_blank" title="Site internet du collège">Collège (Site)</a></li>
      </ul>
    </div>
    <div class="list">
      <ul>
        <li class="subtitle">Services</li>
        <li><a href="mailto:contact@planteqr.eu.org" title="Mail du support">Support</a></li>
        <li><a href="/buy" title="Acheter la Plante Qr">Acheter</a></li>
      </ul>
    </div>
    <div class="list">
      <ul>
        <li class="subtitle">Documents Légaux</li>
        <li><a href="/mentions" title="Les mentions légales de ce site">Mentions légales</a></li>
        <li><a href="/cgv" title="Les conditions générales de vente en ligne">Conditions générales de vente</a></li>
      </ul>
    </div>
  </div>
</footer>

<script>
    bulmaCarousel.attach('#carousel-images', {
        slidesToScroll: 1,
        infinite: true,
        breakpoints: [
            {
                changePoint: 480,
                slidesToShow: 1,
                slidesToScroll: 1
            },
            {
                changePoint: 640,
                slidesToShow: 1,
                slidesToScroll: 1
            },
            {
                changePoint: 768,
                slidesToShow: 1,
                slidesToScroll: 1
            }
        ]
    });
</script>

{% endblock%}