{% extends "default.html" %}

{% block title %}{% endblock %}
{% block imports %}{% endblock %}

{% block body %}

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://planteqr.eu.org" title="Minientreprise Sacré Coeur Vercel">
      <img height="150" alt="Logo">
    </a>

    <a href="/scan" class="navbar-item button is-success is-hidden-desktop" title="Scanner mon QR code">Scanner mon QR&nbsp;<i class="fas fa-qrcode"></i></a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="document.getElementById('mainNavMenu').classList.toggle('is-active'); this.classList.toggle('is-active')">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="mainNavMenu">
    <div class="navbar-end has-text-info">
      <a href="/" class="navbar-item" title="Accueil">Accueil</a>
      <a href="/#features" class="navbar-item" title="Fonctionnalités">Fonctionnalités</a>
      <a href="/#contact" class="navbar-item" title="Contact">Contact</a>
      <a href="/scan" class="navbar-item qr" title="Scanner mon QR code">Scanner mon QR&nbsp;<i class="fas fa-qrcode"></i></a>
      <a href="/dashboard" class="navbar-item dashboard" title="Mes plantes">Mes plantes&nbsp;<i class="fas fa-hand-holding-seedling"></i></a>
    </div>
  </div>
</nav>

{% block content %}{% endblock %}

{% endblock %}
